/* Write your CSS here */
.error-msg-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-sm-bg.png');
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.error-msg {
  color: white;
  font-size: 22px;
  font-weight: bold;
}
